@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body{
	margin: 0;
	font-family: 'Roboto';
}

header{
	background: url(../img/background.jpg) no-repeat center top;
	background-attachment: fixed;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
	
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
	width: 100%;
  .img-profile-pic{
	  border-radius: 50%;
		width: 300px;
  	height: 300px;
  }
  .profile-description{
  	background-image: url(../img/description.png);
  	height: 300px;
    width: 400px;
    max-width: 400px;
    position: relative;
    span{
    	position: absolute;
    	top: 45px;
    	right: 20px;
	    font-size: 30px;
    	font-weight: 300;
		  color: rgb( 56, 56, 56 );
    }
    div{
    	position: absolute;
	    font-size: 16px;
	    font-weight: 300;
    	top: 100px;
    	left: 20px;
    	right: 20px;
	    text-align: right;
    }
  }
}

section.portfolio{
  padding-top: 30px;
  padding-bottom: 60px;
	.mac{
    width: 460px;
  	height: 400px;
		position: relative;
    float: left;
		.imac-image{
			position: absolute;
	    width: 529px;
 	    height: 460px;
		}
		.imac-screen{
      font-size: 20px;
      font-weight: 100;
	    color: white;
	    position: absolute;
	    margin-top: 23px;
	    margin-left: 20px;
	    width: 489px;
	    height: 280px;
  		background: url(../img/crackplan-screen.jpg) no-repeat center top;
			background-attachment: relative;
			background-position: center center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  transition: 0.5s;
		  .wrapper{
		  	margin: 15px;
		  }
		}
	}
	.code-tag{
    padding-left: 8px;
		font-size: medium;
		font-weight: 500;
	}
	.portfolio{
		.col-xs-4{
	    padding: 8px;
	    img{ width: 100%; }
	    .img-portfolio{
	    	transition: all .2s ease-in-out;
	    	&:hover{ transform: scale(1.1); }
	    }
		}
		.col-xs-12{
			padding: 8px;
			.project-description{
	    	padding: 10px;
	    	background-color: rgb(244,245,247);
	    	font-weight: 300;
	    	font-size: 15px;
	    	display: none;
			}
		}
		.macbookair-container{
		  padding-top: 35px;
			.macbookair{
	 	    margin-left: -114px;
	 	    vertical-align: top;
				transition: all .2s ease-in-out;
	    	&:hover{ transform: scale(1.1); }
			}
			.extra-stuff-container{
				position: relative;
		    display: inline-block;
				height: 166px;
		    width: 190px;
		    background: url(../img/clickhere.jpg) no-repeat;
				.extra-stuff-down{
					display: inline-block;
			    margin-top: 5px;
				}
				.extra-buttons-wrapper{ display: none; }
				.extra-button{
					transition: all .1s ease-in-out;
					display: inline-block;
					padding: 10px;
				  float: left;
					border-radius: 10px;
					font-family: 'Roboto', cursive;
					font-size: 14px;
					color: #FFF;
					text-decoration: none;
					text-align: center;
					&:hover{ transform: scale(1.1); }
				}
				.extra-button-one{
					margin-top: 5px;
				  margin-right: 10px;
				  margin-bottom: 10px;
		      width: 100px;
				}
				.extra-button-two{ margin-top: 12px; }
			}
		}
	}
}

footer{
  background-color: #424d5d;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
}

.red{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px 2px #BD3E31;
}
.blue{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px 2px #2980B9;
}
.yellow{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px 2px #D1B358;
}
.green{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px 2px #669644;
}


/* Smartphones */
@media screen and (max-width: 767px) {
	.img-profile-pic{
		width: 200px !important;
  	height: 200px !important;
    margin-bottom: 50px;
	}
  .profile-description{
    width: 100% !important;
    margin: auto;
    div{ font-size: 13px !important; }
  }
	section.portfolio{
		.mac{ display: none; }
		.portfolio{
			.macbookair-container{
				display: none;
				.extra-stuff-container{
					width: 100%;
					.extra-buttons-wrapper{ display: inline-block; }
					.extra-button{
						&:hover{ transform: none; }
					}
					.extra-button-one{
					  margin-left: 5px;
					  margin-right: 5px;
					}
					.extra-button-two{ margin-right: 5px; }
					.extra-button-three{ margin-top: 12px; }
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.img-profile-pic{
    margin-bottom: 50px;
	}
	.profile-description{
    margin: auto;
	}
	.imac-image{
    left: 20%;
	}
	.imac-screen{
    left: 20%;
	}
	.macbookair{
		margin-left: 0 !important;
	}
	.extra-stuff-container {
    width: 340px !important;
	}
	.extra-button-two{ margin-right: 10px; }
	.extra-button-three{ margin-top: 12px; }
}